.navbar {
    background-color: goldenrod;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid red;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}
