.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid olivedrab;
    background-color: goldenrod;
    font-weight: bold;
    font-size: larger;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}
